/* =========================================================
   🎯 RESPONSABILIDADE: TOPO (TÍTULO)
   ========================================================= */

.top-section {
    padding: 30px 95px;
}

.top-section h1 {
    font-size: clamp(2rem, 4vw, 3.4rem);
    font-family: 'Comfortaa', sans-serif;
    font-weight: bold;
}
